<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scenarios</ion-title>
    <ion-buttons slot="end">
      <ion-button class="search-button" (click)="onSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <ion-list no-padding *ngIf="(scenarios$ | async) as scenarios">
      <ion-list-header>
        <ion-label>
          Showing {{ scenarios?.length }} of {{ totalCount$ | async }} records
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let scenario of scenarios">
        <ion-avatar slot="start"> <img [src]="scenario?.image" /> </ion-avatar>
        <ion-label>
          <h2>{{ scenario?.name }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button> <ion-icon name="add"></ion-icon> </ion-fab-button>
  </ion-fab>
</ion-content>
