<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clues</ion-title>
    <ion-buttons slot="end">
      <ion-button class="search-button" (click)="onSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <ion-list no-padding *ngIf="(clues$ | async) as clues">
      <ion-list-header>
        <ion-label>
          Showing {{ clues?.length }} of {{ totalCount$ | async }} records
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let clue of clues">
        <ion-avatar slot="start"> <img [src]="clue?.image" /> </ion-avatar>
        <ion-label>
          <h2>{{ clue?.name }}</h2>
          <p>{{ clue?.description }}</p>
        </ion-label>
        <ion-note slot="end">
          <ion-badge [hidden]="!clue?.unlockCode">
            {{ clue?.unlockCode }}
          </ion-badge>
          &nbsp;
          <ion-badge color="medium" margin-left [hidden]="!clue?.archiveCode">
            {{ clue?.archiveCode }}
          </ion-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button> <ion-icon name="add"></ion-icon> </ion-fab-button>
  </ion-fab>
</ion-content>
