<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Games</ion-title>
    <ion-buttons slot="end">
      <ion-button class="search-button" (click)="onSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <ion-list no-padding *ngIf="(games$ | async) as games">
      <ion-list-header>
        <ion-label>
          Showing {{ games?.length }} of {{ totalCount$ | async }} records
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let game of games">
        <ion-avatar slot="start"> <img [src]="game?.image" /> </ion-avatar>
        <ion-label>
          <h2>{{ game?.name }}</h2>
          <p>{{ game?.scenarioName }}</p>
        </ion-label>
        <ion-note slot="end">
          <ion-badge> {{ game?.code }} </ion-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button> <ion-icon name="add"></ion-icon> </ion-fab-button>
  </ion-fab>
</ion-content>
