<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Escape </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed> <h1>Escape App</h1> </ion-grid>

  <ion-card class="play-card" (click)="onPlay()">
    <ion-card-header>
      <ion-card-title>Play escape games</ion-card-title>
    </ion-card-header>
    <ion-card-content> Explore a sample game </ion-card-content>
  </ion-card>
</ion-content>
